footer {
  border-top: 1px solid;
  border-image-source: linear-gradient(89.99deg, #010101 -0.57%, #ffffff 51.62%, #000000 99.79%);
  border-image-slice: 1;

  padding-top: 2rem;

  display: grid;
  row-gap: 2rem;
}

footer .socials {
  width: 50%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(45px, 100%), 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 1rem;
}
footer .socials a {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;

  width: 45px;
  aspect-ratio: 1/1;

  border-radius: 50%;

  transition: background 0.3s var(--ease);
}
@media (hover: hover) {
  footer .socials a:hover {
    background-color: var(--color-primary);
  }
}

footer .info {
  display: grid;
  justify-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}
footer .info a {
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 1;
  padding-block: 0.5rem;

  transition: color 0.3s var(--ease);
}
@media (hover: hover) {
  footer .info a:hover {
    color: var(--color-primary);
  }
}

footer .cta {
  margin-bottom: 2rem;
}
footer .cta p {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  text-align: center;

  margin-bottom: 2rem;
}
footer .cta .btn {
  margin-inline: auto;
}

footer .copyright {
  text-align: center;
  font-size: 12px;
  line-height: 1;
  color: var(--color-gray);
  padding-block: 1rem;

  border-top: 1px solid;
  border-image-source: linear-gradient(89.99deg, #010101 -0.57%, #ffffff 51.62%, #000000 99.79%);
  border-image-slice: 1;
}


@media screen and (min-width: 1280px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  footer .logo img {
    width: 50%;
  }
  footer .socials {
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: 1rem;
  }
  footer .logo,
  footer .socials {
    grid-column: 1;
  }

  footer .info {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  footer .cta {
    width: 70%;
    max-width: 300px;
    justify-self: end;
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  footer .copyright {
    grid-column: 1 / span 3;
  }
}